lxc.include = /etc/lxc/default.conf
lxc.idmap = u 0 {{ lookup('lines', 'grep $USER /etc/subuid | sed -e "s/:/ /g" | cut -d" " -f2-')}}
lxc.idmap = g 0 {{ lookup('lines', 'grep $USER /etc/subgid | sed -e "s/:/ /g" | cut -d" " -f2-')}}
