# My I3 config

set $mod Mod4
font pango:monospace 8

# Lock
exec --no-startup-id xss-lock --transfer-sleep-lock -- {{ ansible_env.HOME }}/.config/i3/lock.sh
bindsym $mod+l exec {{ ansible_env.HOME }}/.config/i3/lock.sh

# Sound
bindsym XF86AudioRaiseVolume exec --no-startup-id {{ ansible_env.HOME }}/.config/i3/sound.sh increase
bindsym XF86AudioLowerVolume exec --no-startup-id {{ ansible_env.HOME }}/.config/i3/sound.sh decrease
bindsym XF86AudioMute exec --no-startup-id {{ ansible_env.HOME }}/.config/i3/sound.sh mute

# Custom apps
bindsym $mod+Return exec terminator
bindsym $mod+s exec flameshot gui
bindsym $mod+a exec thunar
bindsym $mod+d exec rofi -show combi
bindsym $mod+p exec {{ ansible_env.HOME }}/.config/i3/screens.sh


#######################################
# Windows management
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right
bindsym $mod+h split h
bindsym $mod+v split v

# change mods
bindsym $mod+f fullscreen toggle
bindsym $mod+z layout tabbed
bindsym $mod+e layout toggle split
bindsym $mod+Shift+a kill
bindsym $mod+Shift+space floating toggle
floating_modifier $mod

# No border
for_window [class="^.*"] border pixel 0


#######################################
# workspaces
bindsym $mod+1 workspace number "1"
bindsym $mod+2 workspace number "2"
bindsym $mod+3 workspace number "3"
bindsym $mod+4 workspace number "4"
bindsym $mod+5 workspace number "5"
bindsym $mod+6 workspace number "6"
bindsym $mod+7 workspace number "7"
bindsym $mod+8 workspace number "8"
bindsym $mod+9 workspace number "9"
bindsym $mod+0 workspace number "10"
bindsym $mod+Shift+1 move container to workspace number "1"
bindsym $mod+Shift+2 move container to workspace number "2"
bindsym $mod+Shift+3 move container to workspace number "3"
bindsym $mod+Shift+4 move container to workspace number "4"
bindsym $mod+Shift+5 move container to workspace number "5"
bindsym $mod+Shift+6 move container to workspace number "6"
bindsym $mod+Shift+7 move container to workspace number "7"
bindsym $mod+Shift+8 move container to workspace number "8"
bindsym $mod+Shift+9 move container to workspace number "9"
bindsym $mod+Shift+0 move container to workspace number "10"

bindsym $mod+Mod1+Right exec i3-msg -t command workspace number $(echo "$(i3-msg -t get_workspaces | jq 'map(select(.focused))[0].num') + 1" | bc)
bindsym $mod+Mod1+Left exec i3-msg -t command workspace number $(echo "$(i3-msg -t get_workspaces | jq 'map(select(.focused))[0].num') - 1" | bc)


#######################################
# Restart / exit
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"


#######################################
# Resize windows
mode "resize" {
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}
bindsym $mod+r mode "resize"


#######################################
# Start all apps
exec --no-startup-id {{ ansible_env.HOME }}/.config/compton/launch.sh
exec --no-startup-id {{ ansible_env.HOME }}/.config/polybar/launch.sh
exec --no-startup-id {{ ansible_env.HOME }}/.config/i3/background.sh
exec --no-startup-id flameshot
exec --no-startup-id libinput-gestures-setup start
exec --no-startup-id nm-applet
exec --no-startup-id blueman-applet
