#!/bin/env bash

. "{{ ansible_env.HOME }}/.screenlayout/$(ls "{{ ansible_env.HOME }}/.screenlayout" | cut -d. -f 1 | rofi -dmenu).sh"

{{ ansible_env.HOME }}/.config/i3/background.sh
{{ ansible_env.HOME }}/.config/polybar/launch.sh
